html {
}

body{
	font-family: Helvetica, Verdana, Arial, sans-serif; /* modifie la police*/
}

.uppercase{
	text-transform: uppercase;
}

.capitalize{
	text-transform: capitalize;
}

.photo-contact{
	padding-bottom: 10px; 
}

.p-b-10{
	padding-bottom: 10px;
}

.w-100 {
	width: 100%;
}